
<h2>Meet our team:</h2>
<div class="container text-center" id="face">
  <%= image_tag "Ayano.jpeg", class: "faces about"%>
  <%= image_tag "Francois.jpeg", class: "faces about"%>
  <%= image_tag "Hakim.jpeg", class: "faces about"%>
  <%= image_tag "Abdulla.jpeg", class: "faces about"%>
</div>

<div class="text-center">
  <p>Ayano Francois Hakim Abdulla</p>
</div>
