<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h1>Welcome to the Car Rental Website!</h1>

<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#about">rent a Car</a>
  <a href="#contact">offers</a>
  <input type="text" placeholder="Search..">
</div>