  <header>
    <h1 class="header">Welcome to Vroomie</h1>
  </header>

<div class="banner" style="background-image:url(https://static.vecteezy.com/ti/gratis-vektor/p3/15393176-uppkopplad-bil-hyra-manniskor-anvander-sig-av-mobil-ansokan-for-bestallning-taxi-cab-eller-bil-delning-kvinna-nara-smartphone-skarm-med-rutt-och-plats-mark-pa-en-stad-karta-vector.jpg);">
</div>


<div class= "container">
  <% @cars.each do |c| %>
  <%= link_to c.brand, car_path(c), class: 'btn btn-primary' %>
  <% end %>
</div>
