<div>
  <h1><%= @car.brand %></h1>
</div>

<div>
  <h2> Description:<h2>
  <p><%= @car.description %></p>
</div>

<div>
  <h2> Key Details:</h2>
  <ul>
    <li> <%= @car.year %></li>
    <li> <%= @car.price %></li>
  </ul>
</div>
